body {
    margin : auto;
    text-align: center;
    background-color: lightgray;
}

h1 {
    background-color: green;
}

figcaption {
    font-style: italic;
}

#plus_fort_div {
    background-color : bisque;
}

#plus_fort_p {
    font-size: 5em;
    margin-top: 0px;
}