h1 {
    background-color: #bbbbbb;
    width: 100%;
    -webkit-transition: font-size 1s; /* Safari prior 6.1 */
}

h1:hover {
    font-size: 500%;
}

p:hover {
    background-color: yellow;
}

h2 {
    background-color: bisque;
}

h2:hover {
    text-align: right;
}

a:hover {
    color: #a824b7;
}

#envers {
    width : 25%;
}

#envers:hover {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#css {
    position: absolute;
    right: 0%;
    bottom : 0%;
    display: none;
}

#div_img:hover + #css {
    display: block;
}
