BODY {
    background-color: #efefef;
    /* Couleur du fond en hexadécimal */
    font-family: sans-serif;
    /* famille de police pour la page */
}
#corps {
    width: 90%;
    /* largeur du contenu */
    margin: auto;
    /* centre les éléments en largeur */
    background-image: url(../Ressources/bg.jpg);
    /* insertion d'une image */
    margin-top: 3px;
    /* ajuste la marge du haut */
    text-align: center;
    /* centre le texte */
}
h1 {
    color: #E80C52;
    /* couleur du texte en hexadécimal */
    font-size: 60px;
    /* taille de la police */
    margin: auto;
}
#logos {
    max-width: 400px;
    /* permet de réduire la largeur de l'image */
    height: auto;
    /* ajuste la hauteur de l'image proportionnelement à sa largeur */
}
#zones {
    width: 98%;
    /* les trois colonnes remplissent 98% de la zone de contenu */
    margin: auto;
}
h2 {
    font-size: 40px;
    color: darkseagreen;
}
#zones > div {
    vertical-align: middle;
    /* place les trois colonnes au même niveau vertical */
    display: inline-block;
    /* les colonnes se comportent comme des blocs et se collent les unes aux autres jusqu'à remplir une ligne */
    width: 32%;
    /* largeur des colonnes, un peu moins de 1/3 de la largeur */
    border: 2px #F2F2F2 solid;
    /* la bordure fait 2px de large, est grise et en trait plein */
    background: #FFF;
    /* couleur du fond */
    border-radius: 10px;
    /* arrondi des angles */
    height: 300px;
    /* hauteur des div */
}
footer {
    margin-top: 20px;
    border-top: solid 2px red;
    color: white;
}
