#content {
    width: 90%;
    font-family: "Source Sans Pro", Helvetica;
    margin: auto;
    background: #eeeeee;
    padding: 2%;
    border-radius: 5px;
}

header {
    margin-left: 3%;
    line-height: 2;
}

h1 {
    text-align: center
}

#content > p {
    width: 90%;
    margin-left: 3%;
    margin-bottom: 2%;
}

p {
    line-height: 2;
}

.gauche,
.droite {
    background: #ffffff;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
    width: 90%;
}

.gauche > aside,
.droite > aside {
    width: 60%;
    margin: 0%;
}

.gauche > figure,
.droite > figure {
    width: 30%;
    margin: auto;
    height: auto;
    text-align: center;
}

figure > img {
    max-width: 90%;
    height: auto;
    vertical-align: middle;
}

.date {
    color: brown;
    font-family: Helvetica, Calibri;
    font-weight: bold;
}

header a,
aside > a {
    color: black;
    text-decoration: none;
}

header a:hover,
aside > a:hover {
    text-decoration: underline;
}

header a {
    font-weight: bold;
}

figcaption {
    font-weight: bold;
    font-style: italic;

}

footer {
    text-align: right;
    margin-right: 3%;
}
