body {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

input[type="button"] {
    margin-top: 10px;
    border: 1px solid #222;
    height: 2em;
    background-color: lightsteelblue;
    color:#eee;
    font-weight: bold;
}

div {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ddd;
}

#commentaire {
    display: none;
}